<div class="row justify-content-between">
  <div class="col">
    <h3 class="title-section">Localizaciones</h3>
  </div>
  <div class="col-3 float-right">
    <button class="btn btn-success text-right float-right" routerLink="./create">
      <i class="fas fa-plus"></i> Registrar localización
    </button>
  </div>
</div>

<table class="table mt-3 table-sm table-hover">
  <thead>
  <tr>
    <th style="width: 8%">ID</th>
    <th style="width: 10%">Clave</th>
    <th>Edificio</th>
    <th>Clave Edificio</th>
    <th>Num. de Planta</th>
    <th>Descripción</th>
    <th class=""></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let localizacion of localizaciones">
    <tr>
      <td>{{ localizacion.idLocalizacion }}</td>
      <td>{{ localizacion.claveLocalizacion }}</td>
      <td>{{ localizacion.descEdificio }}</td>
      <td>{{ localizacion.claveEdificio }}</td>
      <td>{{ localizacion.numPlanta }}</td>
      <td>{{ localizacion.descUbicacion? localizacion.descUbicacion : 'N/A' }}</td>
      <td align="right">
        <button class="btn btn-danger btn-sm mr-1" (click)="deleteLocalizacion(localizacion)"><i class="far fa-trash-alt"></i></button>
        <button class="btn btn-success btn-sm" (click)="editLocalizacion(localizacion)"><i class="fas fa-edit"></i></button>
      </td>
    </tr>
  </ng-container>

  </tbody>
</table>


