<div class="card m-3 p-3">
  <div class="row justify-content-between">
    <div class="col">
      <h3 class="title-section">Incidencias</h3>
    </div>
    <div *ngIf="user.role === 3" class="col-3 float-right">
      <button class="btn btn-success text-right float-right" routerLink="./create">
        <i class="fas fa-plus"></i> Registrar Incidencia
      </button>
    </div>
  </div>

  <table class="table table-solicitudes mt-3 table-sm table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Elemento de configuración</th>
      <th>Descripción</th>
      <th>Fecha de registro</th>
      <th style="text-align: center">Estatus</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let solicitud of solicitudes">
      <tr>
        <td>{{ solicitud.idSolicitud }}</td>
        <td><a routerLink="." (click)="openElementoModal(solicitud?.idElementoConf)">
              {{ solicitud.nbElemento }}
            </a>
        </td>
        <td>{{ solicitud.descripcion }}</td>
        <td>{{ solicitud.fhInicio | date}}</td>
        <td>
          <div [class]="'status'+solicitud.idEstatus" class="status-solicitud">
            {{ solicitud.nbEstatus }}
          </div>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-incidencias btn-sm info-tooltip"
            tooltip="Historial y detalle de la incidencia"
            container="body"
            placement="left"
            (click)="verDetalleSolicitud(solicitud)">
            <i class="fas fa-history"></i>
          </button>
        </td>
        <td align="right">
        <!--    Asignar      -->
          <button
            *ngIf="user.role === 1 && solicitud.idEstatus === 1"
            class="btn btn-success btn-sm"
            (click)="asignarIncidencia(solicitud)">
            <i class="fas fa-edit"></i> Asignar
          </button>

          <!--    Diagnosticar      -->
          <button
            *ngIf="user.role === 2 && solicitud.idEstatus === 2"
            class="btn btn-success btn-sm"
            (click)="diagnosticarIncidencia(solicitud)">
            <i class="fas fa-clock"></i> Diagnosticar
          </button>

          <!--    Procesar      -->
          <button
            *ngIf="user.role === 2 && solicitud.idEstatus === 3"
            class="btn btn-success btn-sm"
            (click)="procesarIncidencia(solicitud)">
            <i class="fas fa-wrench"></i> Procesar
          </button>

          <!--    Evaluar  Incidencia    -->
          <button
            *ngIf="user.role === 3 && solicitud.idEstatus === 5"
            class="btn btn-success btn-sm"
            (click)="evaluarIncidencia(solicitud)">
            <i class="fas fa-star"></i> Evaluar
          </button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
