<div class="row justify-content-between">
  <div class="col-6">
    <h4 *ngIf="action === 'create'" class="title-section">Registrar localización</h4>
    <h4 *ngIf="action === 'show'" class="title-section">Actualizar localización</h4>
  </div>
</div>

<form [formGroup]="form" class="nobottommargin" method="POST" (submit)="save()">
  <div class="col_full form-group">
    <label for="name">Clave de la localización</label>
    <input type="text" id="name" formControlName="claveLocalizacion" class="form-control" autofocus/>
    <app-feedback-validator [errors]="formControls.claveLocalizacion.errors" [submitted]="submitted" [attr]="'clave'"></app-feedback-validator>
  </div>

  <div class="col_full form-group">
    <label for="descripcion">Datos de la ubicación</label>
    <textarea id="descripcion" formControlName="descUbicacion" class="form-control"></textarea>
    <app-feedback-validator [errors]="formControls.descUbicacion.errors" [submitted]="submitted" [attr]="'descripción'"></app-feedback-validator>
  </div>

  <div class="col_full form-group">
    <label for="idEdificio">Edificio</label>
    <select id="idEdificio" formControlName="idEdificio" class="form-control" required>
      <option value="null" disabled selected>Clave del edificio</option>
      <option *ngFor="let edificio of edificios" [value]="edificio.idEdificio">{{ edificio.clave }}</option>
    </select>
    <app-feedback-validator [errors]="formControls.idEdificio.errors" [submitted]="submitted" [attr]="'edificio'"></app-feedback-validator>
  </div>

  <div class="col_full form-group">
    <label for="numPlanta">Número de planta del aula o cubiculo</label>
    <input  id="numPlanta" mask="9"  formControlName="numPlanta" class="form-control"/>
    <app-feedback-validator [errors]="formControls.numPlanta.errors" [submitted]="submitted" [attr]="'número de planta'"></app-feedback-validator>
  </div>

  <div class="row justify-content-end">
    <div class="col-4">
      <div class="form-group mt-2">
        <button type="submit" class="btn btn-success float-right ml-2">
          <span>Guardar</span>
        </button>
        <button class="btn btn-outline-secondary float-right" routerLink="/admin/localizaciones">Cancelar</button>
      </div>
    </div>
  </div>
</form>


