<div class="card mx-auto m-3 p-3">
  <h3 class="title-section">Cambios de los elementos de configuración</h3>

  <div class="row justify-content-end">
    <div class="col-12">
<!--      <button class="btn btn-success text-right float-right" routerLink="./create">-->
<!--        <i class="fas fa-plus"></i> Registrar departamento-->
<!--      </button>-->
    </div>
  </div>

  <table class="table mt-3 table-sm table-hover">
    <thead>
    <tr>
      <th style="width: 10%">ID</th>
      <th>Nombre del elemento</th>
      <th>Nombre del encargado</th>
      <th>Descripción del cambio</th>
      <th style="width: 10%">Estatus</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let solicitud of solicitudesCambio">
      <tr>
        <td>{{ solicitud.idEstatusCambio}}</td>
        <td><a routerLink="." (click)="openElementoModal(solicitud?.idElementoConf)">
          {{ solicitud.nbElemento }}
        </a>
        </td>
        <td>{{ solicitud.nbEncargado}}</td>
        <td>{{ solicitud.descripcion}}</td>
        <td>{{ solicitud.nbEstatusCambio}}</td>
        <td align="right">
          <button *ngIf="solicitud.idEstatusCambio == 1" class="btn btn-warning btn-sm" (click)="procesarCambio(solicitud)">
            <i class="fas fa-edit"></i> Evaluar
          </button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <hr>

</div>


