<div class="card w-50 mx-auto m-3 p-3">
  <h3 class="title-section">Departamentos del sistema</h3>

  <div class="row justify-content-end">
    <div class="col-12">
      <button class="btn btn-success text-right float-right" routerLink="./create">
        <i class="fas fa-plus"></i> Registrar departamento
      </button>
    </div>
  </div>

  <table class="table mt-3 table-sm table-hover">
    <thead>
    <tr>
      <th style="width: 10%">ID</th>
      <th>Nombre del departamento</th>
      <th>Nombre del encargado</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let departamento of departamentos">
      <tr>
        <td>{{ departamento.idDepartamento}}</td>
        <td>{{ departamento.nbDepartamento }}</td>
        <td>{{ departamento.encargado? (departamento.encargado.name +' '+ departamento.encargado.last_name):'No asignado' }}</td>
        <td align="right">
          <button class="btn btn-danger btn-sm mr-1" (click)="deleteDepartamento(departamento)"><i class="far fa-trash-alt"></i></button>
          <button class="btn btn-success btn-sm" (click)="editDepartamento(departamento)"><i class="fas fa-edit"></i></button>
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>
  <hr>

</div>


