<div class="card m-3 p-3">
  <h3 class="title-section">Edificios y Localizaciones</h3>

  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/localizaciones" routerLinkActive="active">Localizaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/edificios" routerLinkActive="active">Edificios</a>
      </li>
    </ul>
  </div>
  <div class="card-body border">
    <router-outlet></router-outlet>
  </div>
</div>
