<div class="card m-3 p-4">
  <div class="row justify-content-between">
    <div class="col-6">
      <h4 *ngIf="action === 'create'" class="title-section">Crear elemento de configuración</h4>
      <h4 *ngIf="action === 'show'" class="title-section">Actualizar elemento de configuración</h4>
    </div>
    <div class="col-3">
      <button class="btn btn-success text-right float-right" *ngIf="!editMode" (click)="enableControls()">
        <i class="fas fa-edit"></i> Editar
      </button>
    </div>
  </div>

  <form id="formCI" [formGroup]="form" class="nobottommargin" method="POST" autocomplete="off" (submit)="save()">

    <div class="row">

      <div class="form-group col-12">
        <label for="name">Nombre o identificador del elemento de configuración</label>
        <input type="text" id="name" formControlName="nbElemento" class="form-control" autofocus/>
        <app-feedback-validator [errors]="formControls.nbElemento.errors" [submitted]="submitted" [attr]="'nombre o modelo'"></app-feedback-validator>
      </div>

      <div class="form-group col-12">
        <label for="name">Descripción del elemento</label>
        <textarea id="descripcion" formControlName="descripcion" class="form-control"autofocus></textarea>
        <app-feedback-validator [errors]="formControls.descripcion.errors" [submitted]="submitted" [attr]="'descripción'"></app-feedback-validator>
      </div>

      <div class="form-group col-6">
        <label for="fhAdquisicion">Fecha de adquisición del elemento de configuración</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <button [disabled]="formControls.fhAdquisicion.disabled" (click)="dpFhAdquisicion.toggle()" class="btn btn-outline-success" type="button"><i class="fa fa-calendar"></i></button>
          </div>
          <input id="fhAdquisicion"
                 type="text"
                 formControlName="fhAdquisicion"
                 class="form-control"
                 placement="bottom left"
                 placeholder="Fecha de adquisición del elemento"
                 bsDatepicker
                 #dpFhAdquisicion="bsDatepicker">
        </div>
        <app-feedback-validator [errors]="formControls.fhAdquisicion.errors" [submitted]="submitted" [attr]="'fecha de adquisición'"></app-feedback-validator>
      </div>

      <div class="form-group col-6">
        <label for="idEncargado">Encargado del elemento</label>
        <select id="idEncargado" formControlName="idEncargado" class="form-control" required>
          <option value="null" disabled selected>Seleccione un responsable</option>
          <option *ngFor="let empleado of empleados" [value]="empleado.id">
            {{ empleado.name }} {{ empleado.last_name }}
          </option>
        </select>
        <app-feedback-validator [errors]="formControls.idEncargado.errors" [submitted]="submitted" [attr]="'encargado'"></app-feedback-validator>
      </div>

      <div class="form-group col-6">
        <label for="idTipo">Categoría del elemento de configuración</label>
        <select id="idTipo" formControlName="siglasTipoCI" class="form-control" required (change)="changeTipoCI($event.target.value)">
          <option value="null" disabled selected>Seleccione la categoría del elemento</option>
          <option *ngFor="let tipoCI of tiposCI" [value]="tipoCI.siglasTipoCI">
            {{ tipoCI.nbTipoCI }}
          </option>
        </select>
        <app-feedback-validator [errors]="formControls.siglasTipoCI.errors" [submitted]="submitted" [attr]="'categoría'"></app-feedback-validator>
      </div>

      <div class="form-group col-6">
        <label for="idProveedor">Proveedor del elemento de configuración</label>
        <select id="idProveedor" formControlName="idProveedor" class="form-control">
          <option value="null" disabled selected>Seleccione la entidad proveedora del elemento</option>
          <option value="">Sin proveedor autorizado</option>
          <option *ngFor="let proveedor of proveedores" [value]="proveedor.idProveedor">
            {{ proveedor.nbProveedor }}
          </option>
        </select>
        <app-feedback-validator [errors]="formControls.idProveedor.errors" [submitted]="submitted" [attr]="'proveedor'"></app-feedback-validator>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">

        <!-- Hardware -->
        <form [formGroup]="formDataCI" *ngIf="siglasSelectedTipo == 'HW'">

          <div class="form-group">
            <label for="numeroSerie">Número de serie</label>
            <input type="text" id="numeroSerie" formControlName="numSerie" class="form-control" autofocus/>
            <app-feedback-validator [errors]="formDataCIControls.numSerie.errors" [submitted]="submitted" [attr]="'número de serie'"></app-feedback-validator>
          </div>

          <div class="form-group">
            <label for="model">Modelo del elemento de configuración</label>
            <input type="text" id="model" formControlName="modelo" class="form-control" autofocus/>
            <app-feedback-validator [errors]="formDataCIControls.modelo.errors" [submitted]="submitted" [attr]="'modelo'"></app-feedback-validator>
          </div>

          <div class="form-group">
            <label for="ipAdd">Dirección IP del elemento</label>
            <input type="text" mask="099.099.099.099" id="ipAdd" formControlName="ip_address" class="form-control" [dropSpecialCharacters]="false" autofocus/>
            <app-feedback-validator [errors]="formDataCIControls.ip_address.errors" [submitted]="submitted" [attr]="'dirección ip'"></app-feedback-validator>
          </div>

          <div class="form-group">
            <label for="edificio">Edificio donde se encuentra el elemento</label>
            <select id="edificio" formControlName="idEdificio" class="form-control" required (change)="changeEdificio($event.target.value)">
              <option value="null" disabled selected>Selecciona el edificio al que pertence el elemento</option>
              <option *ngFor="let edificio of edificios" [value]="edificio.idEdificio">
                {{ edificio.clave}}
              </option>
            </select>
            <app-feedback-validator [errors]="formDataCIControls.idEdificio.errors" [submitted]="submitted" [attr]="'departamento'"></app-feedback-validator>
          </div>

          <div class="form-group">
            <label for="localizacion">Aula u oficina en la que se encuentra el elemento</label>
            <select id="localizacion" formControlName="idLocalizacion" class="form-control" required>
              <option value="null" disabled selected>Selecciona el aula en el que está ubicado el elemento</option>
              <option *ngFor="let localizacion of localizaciones" [value]="localizacion.idLocalizacion">
                {{ localizacion.claveLocalizacion }}
              </option>
            </select>
            <app-feedback-validator [errors]="formDataCIControls.idLocalizacion.errors" [submitted]="submitted" [attr]="'localización'"></app-feedback-validator>
          </div>
        </form>

        <!-- Software -->
        <form [formGroup]="formDataCI" *ngIf="siglasSelectedTipo == 'SW'">

          <div class="form-group">
            <label for="version">Número de versión del software</label>
            <input type="text" mask="0*.0*" id="version" formControlName="version" class="form-control" autofocus/>
            <app-feedback-validator [errors]="formDataCIControls.version.errors" [submitted]="submitted" [attr]="'versión'"></app-feedback-validator>
          </div>

          <div class="form-group">
            <label for="ipAddress">Dirección IP del elemento</label>
            <input type="text" mask="099.099.099.099" id="ipAddress" formControlName="ip_address" class="form-control" [dropSpecialCharacters]="false" autofocus/>
            <app-feedback-validator [errors]="formDataCIControls.ip_address.errors" [submitted]="submitted" [attr]="'dirección ip'"></app-feedback-validator>
          </div>
        </form>

        <!-- Network -->
        <form [formGroup]="formDataCI" *ngIf="siglasSelectedTipo == 'NET'">

          <div class="form-group">
            <label for="network_add">Dirección de red del elemento</label>
            <input type="text" mask="099.099.099.099" id="network_add" formControlName="network_address" class="form-control" [dropSpecialCharacters]="false" autofocus/>
            <app-feedback-validator [errors]="formDataCIControls.network_address.errors" [submitted]="submitted" [attr]="'dirección de red'"></app-feedback-validator>
          </div>

          <div class="form-group">
            <label for="netmask">Máscara de red</label>
            <input type="text" mask="099.099.099.099" id="netmask" formControlName="subnet_mask" class="form-control" [dropSpecialCharacters]="false" autofocus/>
            <app-feedback-validator [errors]="formDataCIControls.subnet_mask.errors" [submitted]="submitted" [attr]="'máscara de red'"></app-feedback-validator>
          </div>

          <div class="form-group">
            <label for="idDepartamento">Departamento de la red</label>
            <select id="idDepartamento" formControlName="idDepartamento" class="form-control" required>
              <option value="null" disabled selected>Seleccione el departamento al que pertence la red</option>
              <option *ngFor="let department of departamentos" [value]="department.idDepartamento">
                {{ department.nbDepartamento }}
              </option>
            </select>
            <app-feedback-validator [errors]="formDataCIControls.idDepartamento.errors" [submitted]="submitted" [attr]="'departamento'"></app-feedback-validator>
          </div>

        </form>

        <!-- Database -->
        <form [formGroup]="formDataCI" *ngIf="siglasSelectedTipo == 'DB'">
          <div class="form-group">
            <label for="ipAddress">Dirección IP del elemento</label>
            <input type="text" mask="099.099.099.099" id="ipAddress" formControlName="ip_address" class="form-control" [dropSpecialCharacters]="false" autofocus/>
            <app-feedback-validator [errors]="formDataCIControls.ip_address.errors" [submitted]="submitted" [attr]="'dirección ip'"></app-feedback-validator>
          </div>

          <div class="form-group">
            <label for="version">Número de versión de la base de datos</label>
            <input type="text" mask="0*.0*" id="version" formControlName="version" class="form-control" autofocus/>
            <app-feedback-validator [errors]="formDataCIControls.version.errors" [submitted]="submitted" [attr]="'versión'"></app-feedback-validator>
          </div>

          <div class="form-group">
            <label for="dbms">Nombre del gestor de la base de datos</label>
            <input type="text" id="dbms" formControlName="dbms_name" class="form-control" autofocus/>
            <app-feedback-validator [errors]="formDataCIControls.dbms_name.errors" [submitted]="submitted" [attr]="'gestor de base de datos'"></app-feedback-validator>
          </div>
        </form>

      </div>
    </div>

  </form>

  <div class="row justify-content-end">
    <div class="col-4">
      <button *ngIf="editMode" type="submit"  form="formCI" class="btn btn-outline-success float-right ml-2">
        Guardar
      </button>
      <button *ngIf="editMode && action === 'create' || !editMode && action === 'show'" class="btn btn-outline-secondary float-right" routerLink="/admin/recursos">
        Cancelar
      </button>
      <button *ngIf="editMode && action === 'show'" class="btn btn-outline-secondary float-right" (click)="disableControls()">
        Cancelar
      </button>
    </div>
  </div>
  <hr>
</div>
