<div class="header-container">
    <div class="container-title">
      <h3 class="title-header">Control de Mantenimiento y Servicios</h3>
      <p class="subtitle-header">Instituto Tecnológico de Culiacán</p>
    </div>
    <img class="img-tec" src="assets/images/logo_itculiacan.png">
</div>
