.img-tec{
  width: auto;
  max-height: 110px;
  justify-self: end;
}

.container-title{
  display: grid;
  align-content: center;
}

.header-container
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 0.8rem 0.2rem 0.8rem;
  background-color: #FFFFFF;
}

.title-header, .subtitle-header{
  font-weight: 600;
}

.subtitle-header{
  color: rgba(0,0,0,0.6);
}

.header-container > div{

}
