<div class="card m-3 p-4">

  <div class="row justify-content-between">
    <div class="col">
      <h3 class="title-section">Elementos de configuración</h3>
    </div>
    <div class="col-3 float-right">
      <button class="btn btn-success text-right float-right" routerLink="./create">
        <i class="fas fa-plus"></i> Registrar elemento de configuración
      </button>
    </div>
  </div>

  <table class="table mt-3 table-sm table-hover">
    <thead>
    <tr>
      <th style="width: 8%">
        ID
      </th>
      <th>
        Nombre del elemento
      </th>
      <th>Tipo de elemento</th>
      <th>
        Encargado
      </th>
      <th>
        Proveedor
      </th>
      <th style="width: 2%"></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let element of configurationElements">
      <tr>
        <td>{{ element.idElementoConf }}</td>
        <td>{{ element.nbElemento }}</td>
        <td>{{ element.nbTipoCI }}</td>
        <td>{{ element.nbEncargado }} </td>
        <td>{{ element.nbProveedor? element.nbProveedor: 'Si proveedor autorizado' }} </td>
        <td>
          <button class="btn btn-danger btn-sm mr-1" (click)="deleteCI(element)"><i class="far fa-trash-alt"></i></button>
          <button class="btn btn-success btn-sm" (click)="editCI(element)"><i class="fas fa-edit"></i></button>
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>
  <hr>

</div>
