<div class="card m-3 p-3">
  <h3 class="title-section">Usuarios del sistema</h3>

  <div class="row justify-content-end">
    <div class="col-3">
      <button class="btn btn-success text-right float-right" routerLink="./create">
        <i class="fas fa-plus"></i> Registrar empleado
      </button>
    </div>
  </div>

  <table class="table mt-3 table-sm table-hover">
    <thead>
    <tr>
      <th style="width: 8%">
        ID
      </th>
      <th>
        Nombre
      </th>
      <th>
        Nombre de usuario
      </th>
      <th>
        Departamento
      </th>
      <th>
        Email
      </th>
      <th>Télefono</th>
      <th>
        Dirección
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let user of employees">
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }} {{ user.last_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.departamento[0]?.nbDepartamento }}</td>
        <td>{{ user.email }} </td>
        <td>{{ user.phone }}</td>
        <td>{{ user.address }}</td>
        <td>
          <button class="btn btn-danger btn-sm mr-1" (click)="deleteEmpleado(user)"><i class="far fa-trash-alt"></i></button>
          <button class="btn btn-success btn-sm" (click)="editEmpleado(user)"><i class="fas fa-edit"></i></button>
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>
  <hr>

</div>
