<div class="modal-header">
  <h4 class="modal-title pull-left">Registro de empleados</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="nobottommargin" method="POST" (submit)="register()">
    <div class="col_full form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" formControlName="name" class="form-control" required autocomplete="name" autofocus/>
      <app-feedback-validator [errors]="formControls.name.errors" [submitted]="submitted" [attr]="'nombre'"></app-feedback-validator>
    </div>

    <div class="col_full form-group">
      <label for="name">Apellidos</label>
      <input type="text" id="last_name" formControlName="last_name" class="form-control" required autocomplete="name" autofocus/>
      <app-feedback-validator [errors]="formControls.last_name.errors" [submitted]="submitted" [attr]="'apellido'"></app-feedback-validator>
    </div>

    <div class="col_full form-group">
      <label for="username">Nombre de usuario</label>
      <input type="text" id="username" formControlName="username" class="form-control" required/>
      <app-feedback-validator [errors]="formControls.username.errors" [submitted]="submitted" [attr]="'nombre de usuario'"></app-feedback-validator>
    </div>

    <div class="col_full form-group">
      <label for="email">Correo electrónico</label>
      <input type="email" id="email" formControlName="email" class="form-control" required autocomplete="email"/>
      <app-feedback-validator [errors]="formControls.email.errors" [submitted]="submitted" [attr]="'correo electrónico'"></app-feedback-validator>
    </div>

    <div class="col_full form-group">
      <label for="idRol">Tipo de empleado</label>
      <select id="idRol" formControlName="idRol" class="form-control" required>
        <option value="null" disabled selected>Tipo de usuario</option>
        <option *ngFor="let rol of roles" [value]="rol.idRol">{{ rol.nbRol }}</option>
      </select>
      <app-feedback-validator [errors]="formControls.idRol.errors" [submitted]="submitted" [attr]="'tipo de empleado'"></app-feedback-validator>
    </div>

    <div class="col_full form-group">
      <label for="idDepartamento">Departamento</label>
      <select id="idDepartamento" formControlName="idDepartamento" class="form-control" required>
        <option value="null" disabled selected>Departamento a asignar</option>
        <option *ngFor="let departamento of departamentos" [value]="departamento.idDepartamento">{{ departamento.nbDepartamento }}</option>
      </select>
      <app-feedback-validator [errors]="formControls.idDepartamento.errors" [submitted]="submitted" [attr]="'departamento'"></app-feedback-validator>
    </div>

    <div class="col_full form-group">
      <label for="phone">Celular o télefono fijo</label>
      <input type="text" mask="(000)000-00-00" id="phone" formControlName="phone" class="form-control" required autocomplete="phone"/>
      <app-feedback-validator [errors]="formControls.phone.errors" [submitted]="submitted" [attr]="'télefono'"></app-feedback-validator>
    </div>

    <div class="col_full form-group">
      <label for="password">Contraseña</label>
      <input id="password" type="password" class="form-control" name="default_password" placeholder="Contraseña" formControlName="default_password">
      <app-feedback-validator [errors]="formControls.default_password.errors" [submitted]="submitted" [attr]="'contraseña'"></app-feedback-validator>
    </div>

    <div class="col_full form-group">
      <label for="address">Dirección</label>
      <input id="address" class="form-control" name="address" placeholder="Dirección" formControlName="address">
      <app-feedback-validator [errors]="formControls.address.errors" [submitted]="submitted" [attr]="'contraseña'"></app-feedback-validator>
    </div>

    <div class="row justify-content-end">
      <div class="col-4">
        <div class="form-group mt-2">
          <button type="submit" class="btn btn-success float-right">Registrar</button>
        </div>
      </div>
    </div>

  </form>
</div>
