<div class="card mx-auto my-3 p-4">
  <div class="row justify-content-between">
    <div class="col-6">
      <h4 class="title-section">Registrar incidencia</h4>
    </div>
  </div>

  <form id="formSolicitud" [formGroup]="form" class="nobottommargin row" method="POST" (submit)="save()" autocomplete="off">
    <div class="form-group col-12">
      <label for="descripcion">Descripción de la incidencia</label>
      <textarea id="descripcion" formControlName="descripcion" class="form-control" placeholder="Ingrese la descripción de la incidencia"></textarea>
      <app-feedback-validator [errors]="formControls.descripcion.errors" [submitted]="submitted" [attr]="'descripción'"></app-feedback-validator>
    </div>

    <div class="form-group col-12">
      <label for="siglasTipoCI">Categoría del elemento de configuración</label>
      <select id="siglasTipoCI" formControlName="siglasTipoCI" class="form-control" required (change)="changeTipoCI($event.target.value)">
        <option value="null" disabled selected>Seleccione la categoría del elemento</option>
        <option *ngFor="let tipoCI of tiposCI" [value]="tipoCI.siglasTipoCI">
          {{ tipoCI.nbTipoCI }}
        </option>
      </select>
      <app-feedback-validator [errors]="formControls.siglasTipoCI.errors" [submitted]="submitted" [attr]="'categoría'"></app-feedback-validator>
    </div>

    <ng-container *ngIf="siglasTipoCI === 'HW'">
      <div class="form-group col-6">
        <label for="edificio">Edificio donde se encuentra el elemento</label>
        <select id="edificio" formControlName="idEdificio" class="form-control" required (change)="changeEdificio($event.target.value)">
          <option value="null" disabled selected>Selecciona el edificio al que pertence el elemento</option>
          <option *ngFor="let edificio of edificios" [value]="edificio.idEdificio">
            {{ edificio.clave}}
          </option>
        </select>
        <app-feedback-validator [errors]="formControls.idEdificio.errors" [submitted]="submitted" [attr]="'edificio'"></app-feedback-validator>
      </div>

      <div class="form-group col-6">
        <label for="localizacion">Aula u oficina en la que se encuentra el elemento</label>
        <select id="localizacion" formControlName="idLocalizacion" class="form-control" (change)="changeLocalizacion($event.target.value)">
          <option value="null" disabled selected>Selecciona el aula en el que está ubicado el elemento</option>
          <option *ngFor="let localizacion of localizaciones" [value]="localizacion.idLocalizacion">
            {{ localizacion.claveLocalizacion }}
          </option>
        </select>
        <app-feedback-validator [errors]="formControls.idLocalizacion.errors" [submitted]="submitted" [attr]="'localización'"></app-feedback-validator>
      </div>
    </ng-container>

    <div class="form-group col-6">
      <label for="idElementoConf">Elemento de configuración</label>
      <select id="idElementoConf" formControlName="idElementoConf" class="form-control" required>
        <option value="null" disabled selected>Selecciona el elemento de configuración con el que se relaciona la incidencia</option>
        <option *ngFor="let elemento of ciElements" [value]="elemento.idElementoConf">
          {{ elemento.nbElemento }}
        </option>
      </select>
      <app-feedback-validator [errors]="formControls.idElementoConf.errors" [submitted]="submitted" [attr]="'elemento de configuración'"></app-feedback-validator>
    </div>

  </form>

  <div class="row justify-content-end">
    <div class="col-4">
      <div class="form-group mt-2">
        <button type="submit" form="formSolicitud" class="btn btn-success float-right ml-2">
          <span>Guardar</span>
        </button>
        <button class="btn btn-outline-secondary float-right" routerLink="/profesor/incidencias">Cancelar</button>
      </div>
    </div>
  </div>
</div>
