<div class="modal-header">
  <h4 class="modal-title pull-left">Datos del elemento de configuración</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div>
    <b>Nombre: </b> <span>{{ciElement?.nbElemento }}</span>
  </div>
  <div>
    <b>Descripción del elemento: </b>
    <div>
      {{ciElement?.descripcion}}
    </div>
  </div>
  <div>
    <b>Tipo de elemento de configuración: </b> <span>{{ciElement?.nbTipoCI}}</span>
  </div>
  <div>
    <b>Empleado encargado: </b> <span>{{ciElement?.nbEncargado}}</span>
  </div>
  <div>
    <b>Proveedor: </b> <span>{{ciElement?.nbProveedor}}</span>
  </div>
  <div>
    <b>Fecha de adquisición del elemento: </b> <span>{{ciElement?.fhAdquisicion | date:'dd-MM-yyyy' }}</span>
  </div>

  <ng-container *ngIf="ciElement?.siglasTipoCI === 'HW'">
    <div>
      <b>Número de serie: </b> <span>{{ciElement?.data_ci.numSerie}}</span>
    </div>
    <div>
      <b>Modelo: </b> <span>{{ciElement?.data_ci.modelo}}</span>
    </div>
    <div>
      <b>Dirección IP: </b> <span>{{ciElement?.data_ci.ip_address}}</span>
    </div>
    <div>
      <b>Edificio: </b> <span>{{ciElement?.data_ci.claveEdificio}}</span>
    </div>
    <div>
      <b>Aula o cubículo: </b> <span>{{ciElement?.data_ci.claveLocalizacion}}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="ciElement?.siglasTipoCI === 'SW'">
    <div>
      <b>Version: </b> <span>{{ciElement?.data_ci.version}}</span>
    </div>
    <div>
      <b>Dirección IP: </b> <span>{{ciElement?.data_ci.ip_address}}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="ciElement?.siglasTipoCI === 'NET'">
    <div>
      <b>Departamento: </b> <span>{{ciElement?.data_ci.nbDepartamento}}</span>
    </div>
    <div>
      <b>Dirección de Red: </b> <span>{{ciElement?.data_ci.network_address}}</span>
    </div>
    <div>
      <b>Máscara de Red: </b> <span>{{ciElement?.data_ci.subnet_mask}}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="ciElement?.siglasTipoCI === 'DB'">
    <div>
      <b>Gestor de base de datos: </b> <span>{{ciElement?.data_ci.dbms_name}}</span>
    </div>
    <div>
      <b>Version: </b> <span>{{ciElement?.data_ci.version}}</span>
    </div>
    <div>
      <b>Dirección IP: </b> <span>{{ciElement?.data_ci.ip_address}}</span>
    </div>
  </ng-container>

</div>
