<div class="card mx-auto my-3 p-4">
  <div class="row justify-content-between">
    <div class="col-6">
      <h4 class="title-section">Diagnosticar incidencia</h4>
    </div>
    <div class="col-3 float-right">
      <button class="btn btn-primary text-right float-right" (click)="openModalCatalogoServicios()">
        <i class="fas fa-search"></i> Consultar catalogo de servicios
      </button>
    </div>
  </div>

  <div class="mb-3">
    <h5 class="font-weight-bold">Datos de la solicitud:</h5>
    <div>
      <b>Descripción de la incidencia: </b> <span>{{solicitud?.descripcion}}</span>
    </div>
    <div>
      <b>Elemento de configuración: </b> <a routerLink="." (click)="openElementoModal(solicitud?.elementoConfiguracion)" ><span>{{solicitud?.elementoConfiguracion.nbElemento }}</span></a>
    </div>
    <div>
      <b>Empleado que solicita: </b> <span>{{solicitud?.solicitante.name+ ' ' +solicitud?.solicitante.last_name}}</span>
    </div>
    <div>
      <b>Técnico asignado: </b> <span>{{solicitud?.tecnico.name+ ' ' +solicitud?.tecnico.last_name}}</span>
    </div>
    <div>
      <b>Estatus: </b> <span>{{solicitud?.nbEstatus}}</span>
    </div>
    <div>
      <b>Prioridad: </b> <span>{{solicitud?.nbPrioridad}}</span>
    </div>
    <div>
      <b>Fecha de inicio: </b> <span>{{solicitud?.fhInicio | date:'dd-MM-yyyy h:mm:ss a' }}</span>
    </div>
  </div>

  <form id="formSolicitud" [formGroup]="form" class="nobottommargin row" method="POST" (submit)="save()" autocomplete="off">

    <div class="row col-6">
      <div class="col-12 form-group">
        <label for="tiempoEstimado">Tiempo estimado de respuesta (Hrs)</label>
        <input type="number" min="0" id="tiempoEstimado" formControlName="tiempoEstimado" class="form-control" placeholder="Tiempo estimado de respuesta en horas">
        <app-feedback-validator [errors]="formControls.tiempoEstimado.errors" [submitted]="submitted" [attr]="'tiempo estimado'"></app-feedback-validator>
      </div>

      <div class="col-12 form-group">
        <label for="descripcionServicio">Descripción del servicio diagnosticado</label>
        <textarea style="height: 110px" id="descripcionServicio" formControlName="descripcionServicio" class="form-control" placeholder="Descripción del servicio detectado a realizar"></textarea>
        <app-feedback-validator [errors]="formControls.descripcionServicio.errors" [submitted]="submitted" [attr]="'descripción del servicio'"></app-feedback-validator>
      </div>
    </div>

    <div class="row col-6">
      <div class="col-12 form-check">
        <input type="checkbox" class="form-check-input" id="checkSolicitud"
               [checked]="checkSolicitudCambio"
               (change)="changeCheckCambio($event.target)">
        <label class="font-weight-bold form-check-label" for="checkSolicitud">Solicitar cambio del elemento de configuración</label>
      </div>
      <div *ngIf="checkSolicitudCambio" class="col-12 form-group">
        <label for="descripcionCambio">Descripción del cambio</label>
        <textarea style="height: 110px" id="descripcionCambio" formControlName="descripcionCambio" class="form-control" placeholder="Descripción del cambio a solicitar"></textarea>
        <app-feedback-validator [errors]="formControls.descripcionCambio.errors" [submitted]="submitted" [attr]="'descripción del cambio'"></app-feedback-validator>
      </div>
    </div>

  </form>

  <div class="row justify-content-end">
    <div class="col-4">
      <div class="form-group mt-2">
        <button type="submit" form="formSolicitud" class="btn btn-success float-right ml-2">
          <span>Guardar</span>
        </button>
        <button class="btn btn-outline-secondary float-right" routerLink="/tecnico/incidencias">Cancelar</button>
      </div>
    </div>
  </div>
</div>
