<div class="card w-50 mx-auto my-3 p-4">
  <div class="row justify-content-between">
    <div class="col-6">
      <h4 *ngIf="action === 'create'" class="title-section">Registrar departamento</h4>
      <h4 *ngIf="action === 'show'" class="title-section">Actualizar departamento</h4>
    </div>
  </div>

  <form [formGroup]="form" class="nobottommargin" method="POST" (submit)="save()" autocomplete="off">
    <div class="col_full form-group">
      <label for="nbDepartamento">Nombre del departamento</label>
      <input type="text" id="nbDepartamento" formControlName="nbDepartamento" class="form-control" placeholder="Nombre del departamento"/>
      <app-feedback-validator [errors]="formControls.nbDepartamento.errors" [submitted]="submitted" [attr]="'nombre'"></app-feedback-validator>
    </div>

    <div class="col_full form-group">
      <label for="idEncargado">Empleado encargado del departamento</label>
      <select id="idEncargado" formControlName="idEncargado" class="form-control" required>
        <option value="null" disabled selected>Encargado del departamento</option>
        <option *ngFor="let empleado of empleados" [value]="empleado.id">{{ empleado.name +' '+empleado.last_name }}</option>
      </select>
      <app-feedback-validator [errors]="formControls.idEncargado.errors" [submitted]="submitted" [attr]="'encargado'"></app-feedback-validator>
    </div>

    <div class="row justify-content-end">
      <div class="col-4">
        <div class="form-group mt-2">
          <button type="submit" class="btn btn-success float-right ml-2">
            <span>Guardar</span>
          </button>
          <button class="btn btn-outline-secondary float-right" routerLink="/admin/departamentos">Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</div>
