<div class="row justify-content-between">
  <div class="col">
    <h3 class="title-section">Edificios</h3>
  </div>
  <div class="col-3 float-right">
    <button class="btn btn-success text-right float-right" routerLink="./create">
      <i class="fas fa-plus"></i> Registrar edificio
    </button>
  </div>
</div>

<table class="table mt-3 table-sm table-hover">
  <thead>
  <tr>
    <th style="width: 10%">ID</th>
    <th style="width: 20%">Clave</th>
    <th style="width: 25%">Descripción</th>
    <th>Ubicación</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let edificio of edificios">
    <tr>
      <td>{{ edificio.idEdificio }}</td>
      <td>{{ edificio.clave }}</td>
      <td>{{ edificio.descripcion }}</td>
      <td>{{ edificio.descUbicacion? edificio.descUbicacion:'N/A'}}</td>
      <td align="right">
        <button class="btn btn-danger btn-sm mr-1" (click)="deleteEdificio(edificio)"><i class="far fa-trash-alt"></i></button>
        <button class="btn btn-success btn-sm" (click)="editEdificios(edificio)"><i class="fas fa-edit"></i></button>
      </td>
    </tr>
  </ng-container>

  </tbody>
</table>
