<div class="card mx-auto my-3 p-4">
  <div class="row justify-content-between">
    <div class="col-6">
      <h4 class="title-section">Evaluar incidencia</h4>
    </div>
  </div>

  <form id="formSolicitud" [formGroup]="form" class="nobottommargin row" method="POST" (submit)="save()" autocomplete="off">


    <div class="col-12 form-group">
      <app-dform-group (formCreated)="formQuizCreated($event)" [submitted]="submitted" *ngIf="quiz" [questions]="quiz?.questions">
      </app-dform-group>
    </div>

    <div class="col-6 form-group">
      <label for="resena">Del 1 al 10, cómo calificaria la calidad del servicio que se le brindó</label>
      <input id="calificacion" type="text" formControlName="calificacion" class="form-control"
             mask="99"
             placeholder="Califique al servicio de acuerdo a su criterio"/>
      <app-feedback-validator [errors]="formControls.calificacion.errors" [submitted]="submitted" [attr]="'calificación'"></app-feedback-validator>
    </div>

    <div class="col-12 form-group">
      <label for="resena">Comentarios o reseña general del servicio</label>
      <textarea style="height: 110px" id="resena" formControlName="resena" class="form-control" placeholder="Escriba una reseña general del servicio que se le brindó"></textarea>
      <app-feedback-validator [errors]="formControls.resena.errors" [submitted]="submitted" [attr]="'comentarios'"></app-feedback-validator>
    </div>

  </form>

  <div class="row justify-content-end">
    <div class="col-4">
      <div class="form-group mt-2">
        <button type="submit" form="formSolicitud" class="btn btn-success float-right ml-2">
          <span>Procesar Incidencia</span>
        </button>
        <button class="btn btn-outline-secondary float-right" routerLink="/profesor/incidencias">Cancelar</button>
      </div>
    </div>
  </div>
</div>
