<div class="card m-3 p-3">
  <div class="row justify-content-between">
    <div class="col">
      <h3 class="title-section">Catalogo de servicios</h3>
    </div>
    <div class="col-3 float-right">
      <button class="btn btn-success text-right float-right" routerLink="./create">
        <i class="fas fa-plus"></i> Registrar Servicio
      </button>
    </div>
  </div>

  <app-table-catalogo-servicios
    [catalogoServicios]="catalogoServicios"
    [interactive]="true"
  ></app-table-catalogo-servicios>

</div>
