<div class="row justify-content-between">
  <div class="col-6">
    <h4 *ngIf="action === 'create'" class="title-section">Registrar edificio</h4>
    <h4 *ngIf="action === 'show'" class="title-section">Actualizar edificio</h4>
  </div>
</div>

<form [formGroup]="form" class="nobottommargin" method="POST" (submit)="save()" autocomplete="off">
  <div class="col_full form-group">
    <label for="clave">Clave del edificio</label>
    <input type="text" mask="SSS" [validation]="false" id="clave" formControlName="clave" class="form-control"/>
    <app-feedback-validator [errors]="formControls.clave.errors" [submitted]="submitted" [attr]="'clave'"></app-feedback-validator>
  </div>

  <div class="col_full form-group">
    <label for="descripcion">Nombre o descripción del edificio</label>
    <input id="descripcion" formControlName="descripcion" class="form-control"/>
    <app-feedback-validator [errors]="formControls.descripcion.errors" [submitted]="submitted" [attr]="'descripción'"></app-feedback-validator>
  </div>

  <div class="col_full form-group">
    <label for="descUbicacion">Datos de la ubicación</label>
    <textarea id="descUbicacion" formControlName="descUbicacion" class="form-control"></textarea>
    <app-feedback-validator [errors]="formControls.descUbicacion.errors" [submitted]="submitted" [attr]="'ubicación'"></app-feedback-validator>
  </div>

  <div class="row justify-content-end">
    <div class="col-4">
      <div class="form-group mt-2">
        <button type="submit" class="btn btn-success float-right ml-2">
          <span>Guardar</span>
        </button>
        <button class="btn btn-outline-secondary float-right" routerLink="/admin/localizaciones">Cancelar</button>
      </div>
    </div>
  </div>
</form>


