<table class="table table-solicitudes mt-3 table-sm table-hover">
  <thead>
  <tr>
    <th>Nombre del servicio</th>
    <th>Descripción</th>
    <th>Solución planteada</th>
    <th>Tiempo estimado</th>
    <th *ngIf="interactive"></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let servicio of catalogoServicios">
    <tr>
      <td>{{ servicio.nbServicio }}</td>
      <td>{{ servicio.descripcion }}</td>
      <td>{{ servicio.solucion }}</td>
      <td>{{ servicio.tiempoEstimado }}hrs</td>
      <td align="right" *ngIf="interactive">
        <button class="btn btn-danger btn-sm mr-1" (click)="eliminarServicio(servicio)">
          <i class="far fa-trash-alt"></i> Eliminar
        </button>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
