
.login-page, .register-page, .reset-pass-page {
    width: 100%;
    background: #e1e1e1;
    min-height: auto;
    padding-bottom: 0;
}

.login-page .form-outer, .register-page .form-outer, .reset-pass-page .form-outer{
    min-height: 100vh;
    max-width: 550px;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
}

.login-page .form-inner, .register-page .form-inner, .reset-pass-page .form-inner{
    padding: 40px 30px;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    margin-bottom: 20px;
}

.login-page .logo, .register-page .logo, .reset-pass-page .logo{
    font-size: 1.7em;
    font-weight: 500;
}

/* .login-page p, .register-page p, .reset-pass-page p {
    font-size: 0.8em;
    font-weight: 300;
    color: #aaa;
    margin-bottom: 0;
} */
.login-page form, .register-page form, .reset-pass-page form {
    margin: 2rem auto 1rem;
    max-width: 500px;
}

.login-page a.forgot-pass, .register-page a.forgot-pass{
    display: block;
}
.login-page a.forgot-pass, .login-page a.signup, .register-page a.forgot-pass, .register-page a.signup, .reset-pass-page a.back-home {
    font-size: 0.8em;
    color: #66b0ff;
}
.login-page small, .register-page small, .reset-pass-page small {
    font-size: 0.8em;
    color: #aaa;
    line-height: 0.9em;
}

.register-page form, .reset-pass-page form {
    max-width: 100%;
}