
<div *ngIf="tempFile==null && fileImage && fileImage.urlImagen == null" class="custom-dropzone"
     style="background-image: url('{{ fileImage.urlTipoImagen }}');"
     ngx-dropzone [accept]="'image/*'" [multiple]="false"
     (change)="dropImage($event)">

    <ngx-dropzone-label class="mt-0">
        <p>Arrastra aquí o click para subir foto</p>
    </ngx-dropzone-label>
</div>


<div #croppie></div>


<p class="text-center my-0">
    <a *ngIf="showCroppie && tempFile && !editMode" class="btn text-primary" href="javascript:;" (click)="saveImage()" >
        <i class="fa fa-check"></i> Guardar imagen
    </a>
</p>

<ng-container *ngIf="fileImage?.urlImagen && editMode">
    <div class="custom-dropzone"
         style="background-image: url({{fileImage?.urlImagen}});"
         ngx-dropzone [accept]="'image/*'" [multiple]="false"
         (change)="dropImage($event)">

        <ngx-dropzone-label class="mt-0">
            <p>Arrastra aquí o click para subir foto</p>
        </ngx-dropzone-label>
    </div>
    <a class="btn btn-danger" href="javascript:;" (click)="editMode=false">Cancelar</a>
</ng-container>

<div class="croppie-img text-center" *ngIf="fileImage?.urlImagen && !showCroppie && !editMode">
    <a href="javascript:;" class="btn text-primary" (click)="editMode=true"><i class="fa fa-pencil"></i> Editar</a>
    <img class="img-fluid img-thumbnail float-right d-block mx-auto" [src]="fileImage?.urlImagen" alt="file">
</div>
