:host /deep/ .custom-dropzone {    	
	color: #000000;	
	border-radius: 5px;
    font-size: 15px;
    background-size: cover;
    align-items: flex-start;
    background-origin: content-box;
    background-repeat: no-repeat;    
    background-size: 70%;
    background-position: 50% 65%; /*en el centro*/
}

.custom-dropzone, .croppie-img{
    height: 300px;
}

.croppie-img{
    overflow:hidden;    
}

ngx-dropzone-image-preview{
    margin: 0;
    height: 100%;    
}

:host /deep/ ngx-dropzone-image-preview img{
    max-height: unset !important;
    opacity: 1 !important;    
}

:host /deep/ .cr-slider-wrap{
    margin: 0 auto;
}