<div class="page login-page">
  <div class="container">

    <div class="form-outer text-center align-items-center">

      <div class="form-inner">


        <div class="logo">
          <img src="../../../assets/images/logo_itculiacan.png" style="width: 50%"  >
          <p class="mt-1 mb-0"><b>Control y Mantenimiento de Servicios</b></p>
          <p class="subtitle"><b>Instituto Tecnológico de Culiacán</b></p>
        </div>


        <form [formGroup]="form" novalidate (submit)="login()" class="text-left" autocomplete="off">

          <div class="form-group">
            <label>Nombre de usuario</label><span class="input-group-addon"></span>
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-secondary" tabindex="-1" type="button"><i class="fas fa-user"></i></button>
              </div>
              <input type="text" class="form-control" formControlName="username" required  placeholder="Ingrese su nombre de usuario">
            </div>

          </div>

          <div class="form-group">
            <label >Contraseña</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-secondary" tabindex="-1" type="button"><i class="fas fa-lock"></i></button>
              </div>
              <input type="password" class="form-control" required formControlName="password"  placeholder="Ingrese su contraseña">
            </div>
          </div>

          <div class="form-group">
            <button type="submit"  class="btn btn-primary">Iniciar Sesión</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

