<div class="modal-header">
  <h4 class="modal-title pull-left">Catalogo de servicios</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<app-table-catalogo-servicios
  [catalogoServicios]="catalogoServicios"
  [interactive]="false">
</app-table-catalogo-servicios>

</div>
