<div class="card mx-auto my-3 p-4">
  <div class="row justify-content-between">
    <div class="col-6">
      <h4 class="title-section">Asignar incidencia</h4>
    </div>
  </div>

  <form id="formSolicitud" [formGroup]="form" class="nobottommargin row" method="POST" (submit)="save()" autocomplete="off">

    <div class="col-6">
      <table class="table mt-3 table-sm table-hover">
        <thead>
        <tr>
          <th>
            Nombre
          </th>
          <th>
            Departamento
          </th>
          <th>
            Email
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let user of tecnicos">
          <tr>
            <td>
              <label for="{{user.id}}tecnico">
                <input type="radio" id="{{user.id}}tecnico" value="{{user.id}}" formControlName="idTecnico" name="idTecnico">
                {{ user.name }} {{ user.last_name }}
              </label>
            </td>
            <td>{{ user.departamento[0]?.nbDepartamento }}</td>
            <td>{{ user.email }} </td>
          </tr>
        </ng-container>
        </tbody>
        <app-feedback-validator [errors]="formControls.idTecnico.errors" [submitted]="submitted" [attr]="'técnico'"></app-feedback-validator>
      </table>

      <div class="form-group">
        <label for="idPrioridad">Prioridad de la incidencia</label>
        <select id="idPrioridad" formControlName="idPrioridad" class="form-control" required>
          <option value="null" disabled selected>Establezca la prioridad que quiere darle a la incidencia</option>
          <option *ngFor="let prioridad of prioridades" [value]="prioridad.idPrioridad">
            {{ prioridad.nbPrioridad }}
          </option>
        </select>
        <app-feedback-validator [errors]="formControls.idPrioridad.errors" [submitted]="submitted" [attr]="'prioridad'"></app-feedback-validator>
      </div>
    </div>

    <div class="col-6 p-3 card">
      <h4 class="font-weight-bold">Datos de la solicitud:</h4>
      <div>
        <b>Descripción de la incidencia: </b> <span>{{solicitud?.descripcion}}</span>
      </div>
      <div>
        <b>Elemento de configuración: </b> <a routerLink="." (click)="openElementoModal(solicitud?.elementoConfiguracion)" ><span>{{solicitud?.elementoConfiguracion.nbElemento }}</span></a>
      </div>
      <div>
        <b>Empleado que solicita: </b> <span>{{solicitud?.solicitante.name+ ' ' +solicitud?.solicitante.last_name}}</span>
      </div>
      <div>
        <b>Fecha de inicio: </b> <span>{{solicitud?.fhInicio | date:'dd-MM-yyyy h:mm:ss a' }}</span>
      </div>
    </div>

  </form>

  <div class="row justify-content-end">
    <div class="col-4">
      <div class="form-group mt-2">
        <button [disabled]="form.invalid" type="submit" form="formSolicitud" class="btn btn-success float-right ml-2">
          <span>Asignar Incidencia</span>
        </button>
        <button class="btn btn-outline-secondary float-right" routerLink="/profesor/incidencias">Cancelar</button>
      </div>
    </div>
  </div>
</div>
