<div class="card mx-auto my-3 p-4">
  <div class="row justify-content-between">
    <div class="col-6">
      <h4 class="title-section">Procesar incidencia</h4>
    </div>
  </div>

  <div class="mb-3">
    <h5 class="font-weight-bold">Datos de la solicitud:</h5>
    <div>
      <b>Descripción de la incidencia: </b> <span>{{solicitud?.descripcion}}</span>
    </div>
    <div>
      <b>Elemento de configuración: </b> <a routerLink="." (click)="openElementoModal(solicitud?.elementoConfiguracion)" ><span>{{solicitud?.elementoConfiguracion.nbElemento }}</span></a>
    </div>
    <div>
      <b>Empleado que solicita: </b> <span>{{solicitud?.solicitante.name+ ' ' +solicitud?.solicitante.last_name}}</span>
    </div>
    <div>
      <b>Técnico asignado: </b> <span>{{solicitud?.tecnico.name+ ' ' +solicitud?.tecnico.last_name}}</span>
    </div>
    <div>
      <b>Estatus: </b> <span>{{solicitud?.nbEstatus}}</span>
    </div>
    <div>
      <b>Prioridad: </b> <span>{{solicitud?.nbPrioridad}}</span>
    </div>
    <div>
      <b>Fecha de inicio: </b> <span>{{solicitud?.fhInicio | date:'dd-MM-yyyy h:mm:ss a' }}</span>
    </div>
  </div>


  <form id="formSolicitud" [formGroup]="form" class="nobottommargin row" method="POST" (submit)="save()" autocomplete="off">

    <div class="col-12 form-group">
      <label for="descripcionSolucion">Descripción del proceso realizado</label>
      <textarea style="height: 110px" id="descripcionSolucion" formControlName="descripcionSolucion" class="form-control" placeholder="Describa el proceso que siguió para procesar la solicitud"></textarea>
      <app-feedback-validator [errors]="formControls.descripcionSolucion.errors" [submitted]="submitted" [attr]="'descripción del proceso realizado'"></app-feedback-validator>
    </div>

  </form>

  <div class="row justify-content-end">
    <div class="col-4">
      <div class="form-group mt-2">
        <button [disabled]="form.invalid" type="submit" form="formSolicitud" class="btn btn-success float-right ml-2">
          <span>Procesar Incidencia</span>
        </button>
        <button class="btn btn-outline-secondary float-right" routerLink="/profesor/incidencias">Cancelar</button>
      </div>
    </div>
  </div>
</div>
