<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Page Not Found</h2>			
			<p>La página que estás buscando no está disponible.</p>
			<a routerLink="/" href="javascript:;">Volver al inicio</a>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->