<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let question of questions">
      <app-dform-question [submitted]="submitted" [question]="question" [form]="form"></app-dform-question>
    </div>
  </form>
</div>
