<div class="card mx-auto my-3 p-4">

  <div class="row">
    <div class="col-6">
      <div class="d-flex flex-column body-data">
        <div>
          <h4 class="title-section">Detalle de la incidencia</h4>
        </div>
        <div>
          <b>Descripción de la incidencia: </b>
          <div class="text-justify">{{solicitud?.descripcion}}</div>
        </div>
        <div *ngIf="solicitud?.descripcionServicio">
          <b>Descripción del servicio diagnosticado: </b>
          <div class="text-justify">{{solicitud?.descripcionServicio}}</div>
        </div>
        <div *ngIf="solicitud?.descripcionSolucion">
          <b>Descripción de la solución encontrada: </b>
          <div class="text-justify">{{solicitud?.descripcionSolucion}}</div>
        </div>
        <div>
          <b>Elemento de configuración: </b> <a routerLink="." (click)="openElementoModal(solicitud?.elementoConfiguracion)" ><span>{{solicitud?.elementoConfiguracion.nbElemento }}</span></a>
        </div>
        <div>
          <b>Estatus de la incidencia: </b>
          <span [class]="'status'+solicitud?.idEstatus" class="status-solicitud">
        {{solicitud?.nbEstatus}}
      </span>
        </div>
        <div *ngIf="solicitud?.idPrioridad">
          <b>Prioridad: </b> <span>{{solicitud?.nbPrioridad}}</span>
        </div>
        <div>
          <b>Tiempo estimado de resolución: </b> <span>{{solicitud?.tiempoEstimado}} hrs</span>
        </div>
        <div>
          <b>Empleado que solicita: </b> <span>{{solicitud?.solicitante.name+ ' ' +solicitud?.solicitante.last_name}}</span>
        </div>
        <div *ngIf="solicitud?.tecnico">
          <b>Tecnico asignado: </b> <span>{{solicitud?.tecnico.name+' '+solicitud?.tecnico.last_name}}</span>
        </div>
        <div >
          <b>Fecha de inicio: </b> <span>{{solicitud?.fhInicio | date:'dd-MM-yyyy h:mm:ss a' }}</span>
        </div>
        <div *ngIf="solicitud?.fhTerminacion">
          <b>Fecha de terminación: </b> <span>{{solicitud?.fhTerminacion | date:'dd-MM-yyyy h:mm:ss a' }}</span>
        </div>
      </div>
    </div>

    <div class="col-6" *ngIf="evaluacionIncidencia?.idEvaluacion">
      <div>
        <h4 class="title-section">Evaluación de la incidencia</h4>
      </div>
      <app-dform-group [answers]="evaluacionIncidencia?.questionario_data"
                       [questions]="evaluacionIncidencia?.quiz.questions"
                       [readonly]="true">
      </app-dform-group>
      <div>
        <b>Calificación general del servicio: </b>
        <span>{{evaluacionIncidencia?.calificacion}}</span>
      </div>
      <div>
        <b>Reseña del solicitante: </b>
        <div>{{evaluacionIncidencia?.resena}}</div>
      </div>
      <div>
        <b>Fecha y hora de la evaluación: </b>
        <span>{{evaluacionIncidencia?.created_at | date:'dd-MM-yyyy h:mm:ss a' }}</span>
      </div>
    </div>
  </div>


  <hr/>

  <div class="row mt-3">
    <div class="col-12">
      <h4 class="font-weight-bold mb-2">Historial del estado de la solicitud:</h4>
      <div class="row card-data p-2 mt-2 card" *ngFor="let itemHistorial of historialSolicitud">
        <div class="col-12">
          <b>Estatus: </b>
          <span>{{ itemHistorial?.nbEstatus }}</span>
        </div>
        <div class="col-12">
          <b>Fecha del cambio: </b>
          <div>{{itemHistorial?.fhCambio | date:'dd-MM-yyyy h:mm:ss a' }}</div>
        </div>
      </div>
    </div>

    <hr/>
  </div>

</div>
