<div class="card mx-auto my-3 p-4">
  <div class="row justify-content-between">
    <div class="col-6">
      <h4 class="title-section">Registrar servicio</h4>
    </div>
  </div>

  <form [formGroup]="form" id="formServicio" class="nobottommargin row" method="POST" (submit)="save()" autocomplete="off">

    <div class="col-12 form-group">
      <label for="nbServicio">Nombre del servicio</label>
      <input type="text" id="nbServicio" formControlName="nbServicio" class="form-control" placeholder="Nombre del servicio"/>
      <app-feedback-validator [errors]="formControls.nbServicio.errors" [submitted]="submitted" [attr]="'nombre del servicio'"></app-feedback-validator>
    </div>

    <div class="col-12 form-group">
      <label for="descripcion">Descripción del servicio</label>
      <textarea id="descripcion" formControlName="descripcion" class="form-control" placeholder="Descripción del servicio"></textarea>
      <app-feedback-validator [errors]="formControls.descripcion.errors" [submitted]="submitted" [attr]="'descripción'"></app-feedback-validator>
    </div>

    <div class="col-12 form-group">
      <label for="solucion">Solución práctica del servicio</label>
      <textarea id="solucion" formControlName="solucion" class="form-control" placeholder="Solución encontrada del servicio"></textarea>
      <app-feedback-validator [errors]="formControls.descripcion.errors" [submitted]="submitted" [attr]="'descripción'"></app-feedback-validator>
    </div>

    <div class="col-6 form-group">
      <label for="tiempoEstimado">Tiempo estimado de respuesta</label>
      <input type="number" min="0" id="tiempoEstimado" formControlName="tiempoEstimado" class="form-control" placeholder="Tiempo estimado de respuesta en horas">
      <app-feedback-validator [errors]="formControls.tiempoEstimado.errors" [submitted]="submitted" [attr]="'tiempo estimado'"></app-feedback-validator>
    </div>

    <div class="col-6 form-group">
      <label for="idPrioridad">Prioridad del servicio</label>
      <select id="idPrioridad" formControlName="idPrioridad" class="form-control" required>
        <option value="null" disabled selected>Seleccione la prioridad con la que se cotejan las incidencias</option>
        <option *ngFor="let prioridad of prioridades" [value]="prioridad.idPrioridad">
          {{ prioridad.nbPrioridad }}
        </option>
      </select>
      <app-feedback-validator [errors]="formControls.idPrioridad.errors" [submitted]="submitted" [attr]="'prioridad'"></app-feedback-validator>
    </div>
  </form>
  <div class="row justify-content-end">
    <div class="col-4">
      <div class="form-group mt-2">
        <button type="submit" form="formServicio" class="btn btn-success float-right ml-2">
          <span>Guardar</span>
        </button>
        <button class="btn btn-outline-secondary float-right" routerLink="/tecnico/catalogo-servicios">Cancelar</button>
      </div>
    </div>
  </div>
</div>
