<div class="card mx-auto my-3 p-4">
  <div class="row justify-content-between">
    <div class="col-6">
      <h4 class="title-section">Asignar incidencia</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-6 p-3">
      <h4 class="font-weight-bold">Datos de la incidencia:</h4>
      <div>
        <b>Descripción de la incidencia: </b> <span>{{incidencia?.descripcion}}</span>
      </div>
      <div>
        <b>Elemento de configuración: </b> <a routerLink="." (click)="openElementoModal(incidencia?.elementoConfiguracion)" ><span>{{incidencia?.elementoConfiguracion.nbElemento }}</span></a>
      </div>
      <div>
        <b>Empleado que solicita: </b> <span>{{incidencia?.solicitante.name+ ' ' +incidencia?.solicitante.last_name}}</span>
      </div>
      <div>
        <b>Tecnico: </b> <span>{{incidencia?.tecnico.name+ ' ' +incidencia?.tecnico.last_name}}</span>
      </div>
    </div>
    <div class="col-6">
      <h4 class="font-weight-bold">Datos de la solicitud de cambio:</h4>
      <div>
        <b>Descripción del cambio: </b>
        <div>{{solicitudCambio?.descripcion}}</div>
      </div>
    </div>
  </div>

  <div class="row mx-auto w-25 justify-content-between">
      <button class="btn btn-outline-success btn-lg float-right ml-2" (click)="approveOrDeny('approve')">
        <span>Aprobar</span>
      </button>
      <button class="btn btn-outline-danger btn-lg float-right" (click)="approveOrDeny('deny')">
        Rechazar
      </button>
    </div>
</div>
