<div class="form-row mb-3" [formGroup]="form">

  <div class="col-12">
    <label [attr.for]="question.key">{{question.label}}</label>

    <input class="form-control"
           *ngIf="question.controlType =='textbox'"
           [formControlName]="question.key"
           [id]="question.key"
           [type]="question.type">


    <select class="form-control"
            *ngIf="question.controlType =='dropdown'"
             [id]="question.key"
            [formControlName]="question.key">
      <option *ngFor="let opt of question.options"
              [disabled]="opt.disabled"
              [value]="opt.key">{{opt.value}}</option>
    </select>
    <app-feedback-validator [errors]="formControl.errors" [submitted]="submitted" [attr]="question.key"></app-feedback-validator>
  </div>


</div>
