/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css";/ */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
@import "~sweetalert2/dist/sweetalert2.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f4f4f4 !important;}

.title-section{
  font-weight: 700;
  font-size: 24px;
}

.table thead>tr>th,
.table thead>tr>td,
.table tfoot>tr>th,
.table tfoot>tr>td {
  border-top: 0;
  border-bottom: 0;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #343a40;
  letter-spacing: 0.5px;
}
.table thead {
  background-color: #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.modal-extra-lg {
  max-width: 900px !important;
}

.modal-xl {
  max-width: 1200px !important;
}

.btn-incidencias{
  color: #fff !important;
  background-color: #4390bc !important;
  border-color: #4390bc !important;
}

.btn-incidencias:hover{
  background-color: #235c80 !important;
  border-color: #235C80FF !important;
}


.status-solicitud{
  font-weight: bold;
  color: #FFFFFF;
  padding: 4px;
  border-radius: .25rem;
  text-align: center;
}

.status1{
  background-color: #F7CAC9;
}

.status2{
  background-color: #f0ad4e;
}

.status3{
  background-color: #292b2c;
}

.status4{
  background-color: #f0ad4e;
}

.status5{
  background-color: #34568B;
}

.status6{
  background-color: #00B74A;
}

.status7{
  background-color: #CD212A;
}

