<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" data-target="#mobile_menu" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="navbar-collapse collapse" id="mobile_menu">
          <ul class="nav navbar-nav navbar-principal">

            <li class="nav-item">
              <a class="home-nav nav-link" routerLink="/admin">
                <i class="fas fa-home"></i>
                <p class="m-0">Inicio</p>
              </a>
            </li>
              <li class="nav-item" routerLinkActive="active" routerLink="/admin/incidencias">
                <a class="nav-link">Incidencias <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" routerLinkActive="active" routerLink="/admin/empleados">
                <a class="nav-link">Empleados</a>
              </li>
              <li class="nav-item" routerLinkActive="active" routerLink="/admin/recursos">
                <a class="nav-link">Recursos</a>
              </li>
              <li class="nav-item" routerLinkActive="active" routerLink="/admin/localizaciones">
                <a class="nav-link">Localizaciones</a>
              </li>
              <li class="nav-item" routerLinkActive="active" routerLink="/admin/departamentos">
                <a class="nav-link">Departamentos</a>
              </li>
              <li class="nav-item" routerLinkActive="active" routerLink="/admin/cambios">
                <a class="nav-link">Cambios</a>
              </li>
          </ul>

          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link drop-user dropdown-toggle" data-toggle="dropdown" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>  {{this.labelName}} <span class="caret"></span>
                </a>
                <ul class="nav-item dropdown-menu" aria-labelledby="loginDropdown">
                    <li><a class="dropdown-item" routerLink="./profile"><div>Perfil</div></a></li>
                    <li><a class="dropdown-item" routerLink="/" (click)="logout()">Cerrar sesión</a></li>
                </ul>
              </li>
          </ul>
      </div>

    </nav>
