.fa-home{
  font-size: 24px;
}

ul .nav-item:not(:last-child){
  border-right: 1px solid #68a7ca;
}

nav {
  background-color: #FFFFFF;
}

.navbar-principal .nav-item{
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.nav-item{
  cursor: pointer;
}

.nav-item:not(.dropdown-menu){
  padding: .5rem 1rem;
}

.navbar-principal .nav-item a:not(.home-nav){
  font-weight: bold;
  font-size: 15px;
  color: #4390bc;
}

.navbar-principal .nav-item.active,.navbar-principal .nav-item:hover {
  background-color: #4390bc !important;
}

.navbar-principal .nav-item.active .nav-link,.navbar-principal .nav-item:hover .nav-link{
  color: #FFFFFF !important;
  font-weight: 700;
}

.home-nav{
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.drop-user, .home-nav{
  color: rgba(0,0,0,.9) !important;
}
